node_modules/
.tanstack/
dist/
.turbo/
.next/
out/
build/
coverage/
.env*
.DS_Store
*.log
yarn-error.log
pnpm-debug.log
npm-debug.log
/.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project
*.code-workspace
*.tsbuildinfo
/.cache/
/.eslintcache
/.parcel-cache/
/.storybook/
/.tmp/
/.husky/_/
/.npm/
/.yarn/
/.pnp/
/.pnp.js
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local


# Playwright E2Es
apps/**/test-results/
apps/**/playwright-report/
apps/**/blob-report/
apps/**/playwright/